body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

tr {
  cursor: pointer;
}
